&ledc {
<%= for i <- 0..300 do %>
	multi-led@<%= String.trim(inspect(i, base: :hex), "0x") %> {
		label = "pixel_<%= i %>";
		reg = <<%= inspect(i, base: :hex) %>>;
		color = <LED_COLOR_ID_RGB>;
		function = LED_FUNCTION_STATUS;
	};
<% end %>
};